<Stack xmlns:flutter="http://flutter.dev/xml/flutter">
  <ListView>
    <Ink
      flutter:color="#eee">
      <Column
        flutter:mainAxisAlignment="center">

        <SizedBox flutter:height="20"/>

        <ClipOval>
          <Image
            flutter:width="80"
            flutter:height="80"
            flutter:src="{{avatar_url}}"/>
        </ClipOval>

        <Padding
          flutter:paddingTop="10"
          flutter:paddingBottom="10">

          <Text
            flutter:data="{{fullname}}"
            flutter:style="@flutter:theme/textTheme.headline6"
            flutter:style.color="#111"/>

        </Padding>

        <Text
          flutter:if="{{!!job}}"
          flutter:data="{{job}}"
          flutter:style="@flutter:theme/textTheme.caption"
          flutter:style.color="#666"/>

        <Padding
          flutter:paddingTop="16"
          flutter:paddingBottom="16">

          <Row flutter:mainAxisAlignment="center">

            <MaterialButton
              flutter:color="#F8EBE4"
              flutter:shape="circle"
              flutter:paddingTop="20"
              flutter:paddingBottom="20"
              flutter:onPressed="onClickFavorite">

              <Icon
                flutter:icon="@flutter:icon/star_border"
                flutter:size="20"
                flutter:color="#FC8C4E"/>

            </MaterialButton>

            <MaterialButton
              flutter:color="#F8EBE4"
              flutter:shape="circle"
              flutter:paddingTop="20"
              flutter:paddingBottom="20"
              flutter:onPressed="onClickShare">

              <Icon
                flutter:icon="@flutter:icon/share_outlined"
                flutter:size="20"
                flutter:color="#FC8C4E"/>

            </MaterialButton>
          </Row>
        </Padding>
      </Column>
    </Ink>

    <Padding
        flutter:padding="20"
        flutter:paddingBottom="0">

      <TextButton
        flutter:backgroundColor="{{self ? '' : '#eee'}}"
        flutter:alignment="centerLeft"
        flutter:shape="rectangle"
        flutter:shape.borderRadius="10"
        flutter:shape.side="{{self ? '1 solid #eee' : 'none'}}"
        flutter:onPressed="onClickStatus">
        <Padding
          flutter:padding="12">
          <Row
            flutter:if="{{self}}">

            <Expanded>
              <Text
                flutter:data="{{work_status.text}}"
                flutter:style="=@flutter:theme/caption"
                flutter:style.fontSize="16"/>
            </Expanded>

            <Icon
              flutter:icon="@flutter:icon/edit"
              flutter:color="#9E9E9E"/>
          </Row>
          <Text
            flutter:else=""
            flutter:data="{{work_status.text}}"
            flutter:style="=@flutter:theme/caption"
            flutter:style.textAlign="left"
            flutter:style.fontSize="16"/>
        </Padding>
      </TextButton>
    </Padding>

    <Column
      flutter:for="{{information}}"
      flutter:crossAxisAlignment="stretch">
      <Padding
        flutter:paddingLeft="20"
        flutter:paddingRight="20"
        flutter:paddingTop="15"
        flutter:paddingBottom="0">

        <Text
          flutter:data="{{item.label}}"
          flutter:style="=@flutter:theme/subtitle2"
          flutter:style.color="#999"/>

      </Padding>
      <InkWell flutter:onTap="item.onClick">
        <Padding
          flutter:paddingLeft="20"
          flutter:paddingRight="20"
          flutter:paddingTop="15"
          flutter:paddingBottom="15">
          <Text
            flutter:data="{{item.name}}"
            flutter:style="@flutter:theme/subtitle2"
            flutter:style.color="#333"/>
        </Padding>
      </InkWell>
      <Padding
        flutter:paddingLeft="20">
        <Divider
          flutter:height="1"
          flutter:color="#eee"/>
      </Padding>
    </Column>

    <SizedBox flutter:height="80"/>
  </ListView>

  <Align flutter:alignment="bottomCenter">
    <Padding flutter:padding="20">
      <SizedBox
        flutter:width="infinity"
        flutter:height="40">
        <TextButton
          flutter:shape="rectangle"
          flutter:shape.borderRadius="20"
          flutter:backgroundColor="#3D3D3D"
          flutter:onPressed="onClickSend">
          <Text
            flutter:data="发消息"
            flutter:style="@flutter:theme/textTheme.button"
            flutter:style.color="@flutter:color/white"/>
        </TextButton>
      </SizedBox>
    </Padding>
  </Align>

  <Dialog flutter:name="name_card_select">
    <Column flutter:mainAxisAlignment="end">
      <Container
        flutter:decoration.color="@flutter:color/white"
        flutter:decoration.borderRadius="10">
        <Column flutter:crossAxisAlignment="stretch">
          <TextButton
            flutter:height="56"
            flutter:for="{{options}}"
            flutter:onPressed="item.onClick">
            <Text flutter:data="{{item.text}}"/>
          </TextButton>
        </Column>
      </Container>

      <SizedBox flutter:height="10"/>

      <Container
        flutter:decoration.color="@flutter:color/white"
        flutter:decoration.borderRadius="10">

        <TextButton
          flutter:height="56"
          flutter:onPressed="copyNickname">
          <Text flutter:data="取消"/>
        </TextButton>
      </Container>

      <SizedBox flutter:height="40"/>
    </Column>
  </Dialog>

</Stack>
