<Stack xmlns:flutter="http://flutter.dev/xml/flutter">
  <ListView>
    <Ink
      flutter:color="#eee">
      <Column
        flutter:mainAxisAlignment="center">

        <SizedBox flutter:height="20"/>

        <ClipOval>
          <Image
            flutter:width="80"
            flutter:height="80"
            flutter:src="{{avatar_url}}"/>
        </ClipOval>

        <Padding
          flutter:paddingTop="10"
          flutter:paddingBottom="10">

          <Text
            flutter:data="{{fullname}}"
            flutter:style="@flutter:theme/textTheme.headline6"
            flutter:style.color="#111"/>

        </Padding>

        <Text
          flutter:if="{{!!job}}"
          flutter:data="{{job}}"
          flutter:style="@flutter:theme/textTheme.caption"
          flutter:style.color="#666"/>

        <Padding
          flutter:paddingTop="16"
          flutter:paddingBottom="16">

          <Row flutter:mainAxisAlignment="center">

            <MaterialButton
              flutter:color="#F8EBE4"
              flutter:shape="circle"
              flutter:paddingTop="20"
              flutter:paddingBottom="20"
              flutter:onPressed="onClickFavorite">

              <Icon
                flutter:icon="@flutter:icon/star_border"
                flutter:size="20"
                flutter:color="#FC8C4E"/>

            </MaterialButton>

            <MaterialButton
              flutter:color="#F8EBE4"
              flutter:shape="circle"
              flutter:paddingTop="20"
              flutter:paddingBottom="20"
              flutter:onPressed="onClickShare">

              <Icon
                flutter:icon="@flutter:icon/share_outlined"
                flutter:size="20"
                flutter:color="#FC8C4E"/>

            </MaterialButton>
          </Row>
        </Padding>
      </Column>
    </Ink>

    <Padding
        flutter:padding="20"
        flutter:paddingBottom="0">

      <TextButton
        flutter:backgroundColor="{{self ? '' : '#eee'}}"
        flutter:alignment="centerLeft"
        flutter:shape="rectangle"
        flutter:shape.borderRadius="10"
        flutter:shape.side="{{self ? '1 solid #eee' : 'none'}}"
        flutter:onPressed="onClickStatus">
        <Padding
          flutter:padding="12">
          <Row
            flutter:if="{{self}}">

            <Expanded>
              <Text
                flutter:data="{{work_status.text}}"
                flutter:style="=@flutter:theme/caption"
                flutter:style.fontSize="16"/>
            </Expanded>

            <Icon
              flutter:icon="@flutter:icon/edit"
              flutter:color="#9E9E9E"/>
          </Row>
          <Text
            flutter:else=""
            flutter:data="{{work_status.text}}"
            flutter:style="=@flutter:theme/caption"
            flutter:style.textAlign="left"
            flutter:style.fontSize="16"/>
        </Padding>
      </TextButton>
    </Padding>

    <Padding
      flutter:paddingLeft="20"
      flutter:paddingRight="20"
      flutter:paddingTop="15"
      flutter:paddingBottom="0">

      <Text
        flutter:data="昵称"
        flutter:style="=@flutter:theme/subtitle2"
        flutter:style.color="#999"/>

    </Padding>
    <InkWell flutter:onTap="onClickNickname">
      <Padding
        flutter:paddingLeft="20"
        flutter:paddingRight="20"
        flutter:paddingTop="15"
        flutter:paddingBottom="15">
        <Text
            flutter:data="{{nickname}}"
            flutter:style="@flutter:theme/subtitle2"
            flutter:style.color="#333"/>
      </Padding>
    </InkWell>
    <Padding
      flutter:paddingLeft="20">
      <Divider
        flutter:height="1"
        flutter:color="#eee"/>
    </Padding>


    <Padding
      flutter:paddingLeft="20"
      flutter:paddingRight="20"
      flutter:paddingTop="15"
      flutter:paddingBottom="0">

      <Text
        flutter:data="工号"
        flutter:style="=@flutter:theme/subtitle2"
        flutter:style.color="#999"/>

    </Padding>
    <InkWell flutter:onTap="onClickEmpno">
      <Padding
        flutter:paddingLeft="20"
        flutter:paddingRight="20"
        flutter:paddingTop="15"
        flutter:paddingBottom="15">
        <Text
          flutter:data="{{emp_num}}"
          flutter:style="@flutter:theme/subtitle2"
          flutter:style.color="#333"/>
      </Padding>
    </InkWell>
    <Padding
      flutter:paddingLeft="20">
      <Divider
        flutter:height="1"
        flutter:color="#eee"/>
    </Padding>


    <Padding
      flutter:paddingLeft="20"
      flutter:paddingRight="20"
      flutter:paddingTop="15"
      flutter:paddingBottom="0">

      <Text
        flutter:data="邮箱"
        flutter:style="=@flutter:theme/subtitle2"
        flutter:style.color="#999"/>

    </Padding>
    <InkWell flutter:onTap="onClickEmail">
      <Padding
        flutter:paddingLeft="20"
        flutter:paddingRight="20"
        flutter:paddingTop="15"
        flutter:paddingBottom="15">
        <Text
          flutter:data="{{email}}"
          flutter:style="@flutter:theme/subtitle2"
          flutter:style.color="#333"/>
      </Padding>
    </InkWell>
    <Padding
      flutter:paddingLeft="20">
      <Divider
        flutter:height="1"
        flutter:color="#eee"/>
    </Padding>


    <Padding
      flutter:paddingLeft="20"
      flutter:paddingRight="20"
      flutter:paddingTop="15"
      flutter:paddingBottom="0">

      <Text
        flutter:data="城市"
        flutter:style="=@flutter:theme/subtitle2"
        flutter:style.color="#999"/>

    </Padding>
    <InkWell flutter:onTap="onClickCity">
      <Padding
        flutter:paddingLeft="20"
        flutter:paddingRight="20"
        flutter:paddingTop="15"
        flutter:paddingBottom="15">
        <Text
          flutter:data="{{location.city}}"
          flutter:style="@flutter:theme/subtitle2"
          flutter:style.color="#333"/>
      </Padding>
    </InkWell>
    <Padding
      flutter:paddingLeft="20">
      <Divider
        flutter:height="1"
        flutter:color="#eee"/>
    </Padding>


    <Padding
      flutter:paddingLeft="20"
      flutter:paddingRight="20"
      flutter:paddingTop="15"
      flutter:paddingBottom="0">

      <Text
        flutter:data="部门"
        flutter:style="=@flutter:theme/subtitle2"
        flutter:style.color="#999"/>

    </Padding>
    <InkWell flutter:onTap="onClickDepartment">
      <Padding
        flutter:paddingLeft="20"
        flutter:paddingRight="20"
        flutter:paddingTop="15"
        flutter:paddingBottom="15">
        <Text
          flutter:data="{{department}}"
          flutter:style="@flutter:theme/subtitle2"
          flutter:style.color="#333"/>
      </Padding>
    </InkWell>
    <Padding
      flutter:paddingLeft="20">
      <Divider
        flutter:height="1"
        flutter:color="#eee"/>
    </Padding>


    <Padding
      flutter:paddingLeft="20"
      flutter:paddingRight="20"
      flutter:paddingTop="15"
      flutter:paddingBottom="0">

      <Text
        flutter:data="上级"
        flutter:style="=@flutter:theme/subtitle2"
        flutter:style.color="#999"/>

    </Padding>
    <InkWell flutter:onTap="onClickSupervisor">
      <Padding
        flutter:paddingLeft="20"
        flutter:paddingRight="20"
        flutter:paddingTop="15"
        flutter:paddingBottom="15">
        <Text
          flutter:data="{{manager_fullname}}"
          flutter:style="@flutter:theme/subtitle2"
          flutter:style.color="#333"/>
      </Padding>
    </InkWell>
    <Padding
      flutter:paddingLeft="20">
      <Divider
        flutter:height="1"
        flutter:color="#eee"/>
    </Padding>


    <SizedBox flutter:height="80"/>
  </ListView>

  <Align flutter:alignment="bottomCenter">
    <Padding flutter:padding="20">
      <SizedBox
        flutter:width="infinity"
        flutter:height="40">
        <TextButton
          flutter:shape="rectangle"
          flutter:shape.borderRadius="20"
          flutter:backgroundColor="#3D3D3D"
          flutter:onPressed="onClickSend">
          <Text
            flutter:data="发消息"
            flutter:style="@flutter:theme/textTheme.button"
            flutter:style.color="@flutter:color/white"/>
        </TextButton>
      </SizedBox>
    </Padding>
  </Align>

</Stack>
